<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <title><%= @page_title %></title>

  <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
   <%= favicon_link_tag 'icon.png' %>
  
</head>
<body>

  <% if session[:user] %>
  <script>
    var userData = {
      "id"      : "<%= session[:user]["info"]["id"] %>",
      "name"    : "<%= session[:user]["info"]["real_name"] %>",
      "picture" : "<%= session[:user]["info"]["profile"]["image_192"] %>",
      "token"   : "<%= session[:user]["token"]%>",
      "email"   : "<%= session[:user]["info"]["profile"]["email"] %>",
    };
  </script>
  <% end %>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar show-for-medium-down">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section id="mobile-title" class="tab-bar-section">
          <h1 class="title apply-font"> <%= image_tag "icon.png" %> LaundryApp</h1>
        </section>

        <section class="right tab-bar-section">
          <% if session[:user] then %>
          <a href="<% @host %>" data-name="<%= session[:user]["info"]["real_name"] %>" data-user-id="<%= session[:user]["info"]["id"] %>" class="button <%= @schedule_btn_class %> radius schedule-btn-mobile schedule-btn"><i class="fa fa-calendar"></i> schedule</a>
          <% end %>
        </section>

      </nav>

      <!-- Mobile Navigation -->
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list shared-menu">
          <% if session[:user] then %>
          <li><a class="user-info"><img src="<%= @user["info"]["profile"]["image_32"] %>" > <%= @user["info"]["real_name"] %> </a> </li>
          <% end %>
          <%= render "/shared/menu" %>
        </ul>
      </aside>

      <section class="main-section">

        <!-- Desktop Navigation -->
        <nav class="top-bar show-for-large-only" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/dashboard" class="apply-font"> <%= image_tag "icon.png" %> LaundryApp</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section" style="padding-right:10px;">
            <!-- Right Nav Section -->
            <ul class="right">
              <% if session[:user] then %>
              <a href="<%= @host %>" data-name="<%= session[:user]["info"]["real_name"] %>" data-user-id="<%= session[:user]["info"]["id"] %>" class="button <%= @schedule_btn_class %> radius schedule-btn-desktop schedule-btn"><i class="fa fa-calendar"></i> schedule</a>
              <% end %>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left shared-menu">
             <% if session[:user] then %>
             <li><a class="user-info"><img src="<%= @user["info"]["profile"]["image_32"] %>" > <%= @user["info"]["real_name"] %> </a> </li>
             <% end %>
             <%= render "/shared/menu" %>
           </ul>
         </section>
       </nav>

       <div class="views-container">
        <%= yield %>
      </div>

    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>

<footer>
  <span>Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/thisisudo">A Humanoid</a> <strong>#TIA</strong></span>
</footer>

<script>
 var CURRENT_PAGE = "<%= @class %>"
</script>

<script src="https://code.jquery.com/jquery-git2.min.js"></script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
  $(document).foundation();
</script>
</body>
</html>
